{% extends "base.html" %}
{% block content %}
<!-- About Section -->
<section class="bg-secondary text-light">
  <div class="container jumbotron bg-dark">
    <h2 class="text-center">About me</h2>
    <hr class="star-dark mb-5">
    <p class="container">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <!--Social Media Links-->
    <h4>My External Links:</h4>
    <ul class="list-inline mb-0">
      <li class="list-inline-item">
        <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
          <i class="fab fa-fw fa-facebook-f"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
          <i class="fab fa-fw fa-google-plus-g"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
          <i class="fab fa-fw fa-twitter"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
          <i class="fab fa-fw fa-linkedin-in"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
          <i class="fab fa-fw fa-dribbble"></i>
        </a>
      </li>
    </ul>
  </div>
</section>
{% endblock %}
